extends layout

block body
  h1=title
  p Welcome to {{title}}
    li(ng-repeat="msg in messages")
      span {{msg.msg}}

  script(src='/socket.io/socket.io.js')
  script(src='components/angular/angular.js')

  script(src='scripts/app.js')
  script(src='scripts/controllers/MsgController.js')
  script(src='scripts/services/MsgService.js')
