extends layout

block body
	h1= title
	p Welcome to #{title}
	div(ng-controller="FolderController")

	script(src='/socket.io/socket.io.js')
	script(src='components/angular/angular.js')

	script(src='scripts/app.js')
	script(src='scripts/controllers/FolderController.js')
	script(src='scripts/services/FolderDataService.js')