doctype html
html(ng-app="chatterBox")
  head
  meta(charset='utf8')
  title chatterBox
  base(href='/')

  link(rel='stylesheet', href='/styles/styles.css')
  link(rel='stylesheet', href='components/fontawesome/css/font-awesome.min.css')
  body(ng-view ng-controller="MessageListController")
    script(src='/socket.io/socket.io.js')
    script(src='components/angular/angular.js')
    script(src='components/angular-route/angular-route.js')
    script(src='components/angular-socket-io/socket.js')

    script(src='scripts/app.js')
    script(src='scripts/controllers/ContactListController.js')
    script(src='scripts/controllers/MessageListController.js')
    script(src='scripts/controllers/MessageInputController.js')
    script(src='scripts/directives/directives.js')
    script(src='scripts/directives/ChatBox.js')
    script(src='scripts/filters/filters.js')
    script(src='scripts/services/MsgService.js')
