<div id="cb-container">
    <header>
        <h1>Chatter Box</h1>
    </header>

    <section class="clearfix" ng-controller="ContactListController">
        <section id="cb-sidebar">
            <div id="cb-contacts">
                <ul>
                    <li ng-click="startChat(contact)"
                        ng-repeat="contact in contacts | orderBy:sortorder"
                        ng-class="{'cb-active': contact.activeSession, 'cb-selected': current == contact._id}">
                        {{contact.google.name}}
                    </li>
                </ul>
            </div>
        </section>

        <section id="cb-chat-view">
            <div class="" ng-repeat="chat in chats">
                <div class="cb-chat-box" ng-show="current == chat._id" user="user"></div>
            </div>
        </section>
    </section>

    <footer>Footer</footer>
</div>

<!--
<header id="site-header">
    <div class="header-wrapper">
        <h1>chatterBox</h1>
        <div class="cbox-participants">
            <li ng-repeat="chatParticipant in chatParticipants" class="participant">
                <span ng-if="chatParticipant.google"><img src="{{chatParticipant.google.picture}}" alt="user pic" width="50px"></span>
                <span ng-if="chatParticipant.facebook"><img src="{{chatParticipant.facebook.picture.data.url}}" alt="user pic" width="50px"></span>
            </li>
        </div>
    </div>
</header>

<div class="chatBox">
    <section id="content">
        <ul id="message-container">
            <li ng-repeat="message in messages" class="blip">
                <div class="message-wrapper {{ message.user | isMe:user }}">
                    <div class="avatar-container">
                        <img src="{{message.user.picture}}" width="30px" />
                    </div>
                    <div class="sender">{{message.user.name}}</div>
                    <div class="message">{{message.content}}</div>
                    <div class="timestamp">{{message.time | date:'HH:mm:ss'}}</div>
                </div>
            </li>
        </ul>
    </section>

    <footer id="text-input" ng-controller="MessageInputController">
        <form ng-submit="sendMsg()">
            <input id="message-input" type="text" placeholder="Message" autofocus required ng-model="msg">
        </form>
    </footer>
</div>
-->