<header id="site-header">
    <div class="header-wrapper">
        <h1>chatterBox</h1>
        <a class="googleAuth" href="javascript:void(0)" onclick="window.location='http://localhost:3000/auth/google'">Google</a>
    </div>
</header>

<div class="chatBox" ng-controller="MessageListController">
    <section id="content">
        <ul id="message-container">
            <li ng-repeat="message in messages" class="blip">
                <div class="message-wrapper {{ message.user | isMe:user }}">
                    <div class="avatar-container">
                        <img src="{{message.user.picture}}" width="30px" />
                    </div>
                    <div class="sender">{{message.user.name}}</div>
                    <div class="message">{{message.content}}</div>
                    <div class="timestamp">{{message.time | date:'HH:mm:ss'}}</div>
                </div>
            </li>
        </ul>
    </section>

    <footer id="text-input" ng-controller="MessageInputController">
        <form ng-submit="sendMsg()">
            <input id="message-input" type="text" placeholder="Message" autofocus required ng-model="msg">
        </form>
    </footer>
</div>
