@import (css) "../fonts/fontface.css";

@color-lightgrey: #fafafa;
@color-grey: #eee;
@color-regulargrey: #A6A6A6;
@color-lightbluetrans: rgba(173,216,230,.3);
@color-lightgreentrans: rgba(144, 238, 144, .3);

html, body {
  height: 100%;
}

body {
  max-width: 970px;
  margin: 0 auto;
  background: @color-lightgrey;
  overflow: hidden;
}

#container {
  min-height: 100%;
  position: relative;
}

.chatBox {
  min-height: 300px;
}

section#content {
  top: 50px;
  background: white;
  position: absolute;
  left: .5em;
  right: .5em;
  bottom: 4em;
  box-shadow: 0 0 2px 0 @color-grey;
}

section#content ul {
  position: absolute;
  top: .5em;
  bottom: 0;
  left: .5em;
  right: 0;
  overflow: auto;
}

footer#text-input {
  position: absolute;
  bottom: 0;
  left: .5em;
  right: .5em;
  height: 3.5em;
  input {
    background: @color-grey;
    box-shadow: inset 0px 0px 10px -3px;
    padding-left: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: none;
    font: normal 15px 'opensans_light';
  }
}

#message-input, form {
  height: 80%;
  width: 100%;
}

.header-wrapper {
  margin: .5em;
  background: white;
  box-shadow: 0 0 2px 0 @color-grey;
}

h1 {
  text-align: center;
  font-family: 'opensans_regular';
  margin-top: 0;
}

p {
  font-family: 'opensans_italic';
}

ul {
  margin: 0;
  padding: 0 10px 0 0;
}

li {
  list-style-type: none;
  position: relative;
  &.blip {
    width: 100%;
    font-family: 'opensans_light';
    font-size: 10px;
  }
}

.message-wrapper {
  overflow: auto;
  padding: 10px;
  margin: 5px;
  &:before {
    content: '';
    background: @color-lightbluetrans;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
  }
}

.message-wrapper:not(.isMe):before {
  background: @color-lightgreentrans;  
    -webkit-border-radius: 10px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.sender {
  float: left;
  width: 50px;
  padding-right: 10px;
  font-family: 'opensans_semibold';
}

.message {
  float: left;
  max-width: 45%;
  word-wrap: break-word;
  left: 80px;
}

.timestamp {
  float: right;
  font-size: 9px;
}


/***********************************************/
/*media queries go here*/
/***********************************************/
@media all and (min-width: 450px) {
  header#site-header {
    padding: 30px 0;
  }

  h1 {
    text-align: left;
    font-size: 40px;
    text-shadow: 1px 1px 5px;
    padding-left: 15px;
    margin-top: 0;
  }

  section#content {
    top: 100px;
    bottom: 7em;
  }

  li {
    &.blip {
      font-size: 12px;
    }
  }

  .sender {
    padding-right: 20px;
  }

  .message {
    max-width: 65%;
    word-wrap: break-word;
  }

  .timestamp {
    font-size: 10px;
  }

  #message-input, form {
    height: 100%;
  }

  footer#text-input {
    position: absolute;
    bottom: 1.5em;
    left: .5em;
    right: .5em;
    height: 5em;
    input {
      background: @color-grey;
      box-shadow: inset 0px 0px 16px -3px;
      padding-left: 15px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      border: none;
      font: normal 35px 'opensans_semibold';
    }
  }
}

@media all and (min-width: 600px) {
  .message {
    max-width: 75%;
    word-wrap: break-word;
  }
  .timestamp {
    font-size: 12px;
  }
}

@media all and (min-width: 800px) {
  .message {
    max-width: 80%;
    word-wrap: break-word;
  }
}
