@import (css) "../fonts/fontface.css";

@color-lightgrey: #eee;  

html, body {
  height: 100%;
}

body {
  width: 970px;
  margin: 0 auto;
}

#container {
  min-height: 100%;
  position: relative;
}

header#site-header {
  padding: 50px 0;
}

section#content {
  padding-bottom: 150px;
  max-height: 400px;
  overflow-y: auto;
}

footer#text-input {
  bottom: 0;
  padding-top: 33px;
  margin-bottom: 70px;
  height: 100px;
  width: 100%;
  position: absolute;
  input {
    background: @color-lightgrey;
    box-shadow: inset 0px 0px 16px -3px;
    padding-left: 15px;
    border: none;
    font: normal 35px 'opensans_semibold';
  }
}

#message-input, form {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'opensans_regular';
  margin-top: 0;
}

p {
  font-family: 'opensans_italic';
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  &.blip {
    width: 100%;
    height: 35px;
    font-family: 'opensans_light';
    font-size: 12px;
  &.join {
    color: @color-lightgrey;
  }
    div {
      display: inline-block;
    }
  }
}


.sender {
  width: 50px;
  padding-right: 30px;
  font-family: 'opensans_semibold';
  text-align: right;
}

.message {
  border-bottom: 1px dotted @color-lightgrey;
  width: 80%;
}

.timestamp {
  float: right;
}
