html,
body {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
p {
  margin: 0;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
#cb-container {
  margin: 0 auto;
  width: 970px;
}
#cb-sidebar {
  float: left;
  width: 200px;
}
#cb-contacts {
  background-color: #EEE;
  border-right: 1px solid #DDD;
}
#cb-contacts li {
  color: #666;
  padding: 4px 8px;
}
#cb-contacts li.cb-selected {
  background-color: #CCC;
}
#cb-contacts li.cb-active + li:not(.cb-active) {
  border-top: 1px solid #BBB;
  padding-top: 20px;
}
#cb-chat-view {
  margin-left: 200px;
  width: 770px;
}
.cb-message-input {
  display: block;
  font-size: 16px;
  margin: 0 auto;
  padding: 5px 3px;
  width: 740px;
}
footer {
  border-top: 1px solid #000;
  margin-top: 100px;
}

.cb-chat-chamber {
  position: relative;
}
.cb-chat-chamber li {
  min-height: 35px;
  padding: 10px;
}
.cb-chat-chamber li:last-child {
  margin-bottom: 20px;
}
.cb-chat-chamber .cb-chamber-user-avatar {
  float: left;
}
.cb-chat-chamber .cb-chamber-user-avatar img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.cb-chat-chamber .cb-chamber-message-meta {
  margin-left: 35px;
  padding: 3px 10px;
}
.cb-chat-chamber .cb-chamber-message-time {
  float: right;
  margin-left: 50px;
}
